<ion-card class="profile-card">
  <ion-card-header>
    <ion-card-title>Mi Perfil Académico</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-item lines="full">
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input [value]="usuario" readonly></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" placeholder="Tu nombre"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Carrera</ion-label>
      <ion-input [(ngModel)]="carrera" placeholder="Tu carrera"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Sede</ion-label>
      <ion-select [(ngModel)]="sede" placeholder="Tu sede">
        <ion-select-option *ngFor="let s of sedes" [value]="s">{{ s }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Nivel Educación</ion-label>
      <ion-input [(ngModel)]="nivelEducacion" placeholder="Tu nivel de educación"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" (click)="guardar()">
      Guardar Cambios
    </ion-button>
  </ion-card-content>
</ion-card>
