<ion-card>
  <ion-card-header>
    <ion-card-title>Mis Datos Personales</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="form-group">
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" placeholder="Ingrese su nombre" type="text"></ion-input>
    </div>

    <div class="form-group">
      <ion-label>Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" placeholder="Ingrese su apellido" type="text"></ion-input>
    </div>

    <div class="form-group">
      <ion-label>Nivel de Educación</ion-label>
      <ion-select [(ngModel)]="nivelEducacion" placeholder="Seleccione nivel">
        <ion-select-option value="primaria">Primaria</ion-select-option>
        <ion-select-option value="secundaria">Secundaria</ion-select-option>
        <ion-select-option value="tecnica">Técnica</ion-select-option>
        <ion-select-option value="universitaria">Universitaria</ion-select-option>
        <ion-select-option value="posgrado">Posgrado</ion-select-option>
      </ion-select>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" placeholder="Seleccione fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="button-group">
      <ion-button expand="block" color="medium" (click)="limpiar()">Limpiar</ion-button>
      <ion-button expand="block" color="success" (click)="guardar()">Guardar</ion-button>
    </div>
  </ion-card-content>
</ion-card>
