<ion-content class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ isRegistering ? "Crear Cuenta DUOC Connect" : "Iniciar Sesión" }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <ion-item lines="full">
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input [(ngModel)]="usuario" placeholder="Ej: f.quezada" maxlength="8"></ion-input>
        </ion-item>
        
        <ion-item lines="full">
          <ion-label position="stacked">PIN (4 dígitos)</ion-label>
          <ion-input [(ngModel)]="contrasena" type="password" placeholder="****" maxlength="4"></ion-input>
        </ion-item>

        <div *ngIf="isRegistering">
          <ion-item lines="full">
            <ion-label position="stacked">Nombre Completo</ion-label>
            <ion-input [(ngModel)]="nombre" placeholder="Francisco Quezada"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Carrera</ion-label>
            <ion-input [(ngModel)]="carrera" placeholder="Ingeniería en Informática"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Sede</ion-label>
            <ion-select [(ngModel)]="sede" placeholder="Selecciona tu sede">
              <ion-select-option *ngFor="let s of sedes" [value]="s">{{ s }}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <p class="error-text" *ngIf="usuarioError">{{ usuarioError }}</p>

        <ion-button expand="block" class="ion-margin-top" (click)="isRegistering ? registrar() : ingresar()">
          {{ isRegistering ? "Registrarse" : "Ingresar" }}
        </ion-button>

        <ion-button expand="block" fill="clear" (click)="toggleMode()">
          {{ isRegistering ? "¿Ya tienes cuenta? Ingresa" : "¿No tienes cuenta? Regístrate" }}
        </ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
